// colors
$dark: #141623;
$dark-200: #1D2033;
$dark-cyan: #1E2A3B;
$dark-magenta: #404670;
$blue: #5C7EFD;
$red: #FF6B81;
$white: #f5f6fa;
$gray: #A9A5A6;

// colors on hover
$dark-magenta-hover: #383E63;
$blue-hover: #5271E3;
$red-hover: #E66074;

// colors on active
$dark-magenta-active: #BF5061;
$blue-active: #445EBD;
$red-active: #BF5061;
